.mobile-container{

    background:
    linear-gradient(
        to bottom,
        var(--primary-color),
        var(--background-color) 40%
    );

    padding: 20px;
}

/* HEADER */

.reminder-header{

    margin-top: 40px;
}

/* HEADER TOP */

.header-top{

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    width: 100%;
}

/* HEADER TEXT */

.header-text{

    width: 80%;
}

.reminder-header h1{

    color: var(--white-color);

    font-size: 32px;

    font-weight: 700;

    margin-bottom: 5px;
}

.reminder-header p{

    color: var(--white-color);

    font-size: 14px;

    font-weight: 400;
}

/*BELL IKON*/

.bell-icon{

    width: 28px;

    height: 28px;

    object-fit: contain;

    margin-top: 10px;
}

/* FILTER */

.filter-container{

    display: flex;

    gap: 5px;

    overflow-x: auto;

    margin-top: 28px;

    padding-bottom: 5px;

    margin-right: -18px;

    margin-left: -18px;
}

.filter-btn{

    border: 1.5px solid var(--orange-color);

    background: var(--white-color);

    color: var(--primary-color);

    padding: 10px 22px;

    border-radius: 999px;

    font-size: 13px;

    font-weight: 600;

    white-space: nowrap;

    cursor: pointer;

    flex-shrink: 0;
}

/* ACTIVE BUTTON */

.active-btn{

    background: var(--primary-color);

    color: var(--white-color);

    border: none;
}

/* FOOD LIST */

.food-list{

    margin-top: 24px;

    display: flex;

    flex-direction: column;

    gap: 18px;
}

/* FOOD CARD */

.food-card{

    background: var(--white-color);

    border-radius: 22px;

    padding: 16px;

    border: 2px solid #FFD58A;
}

/* CARD TOP */

.food-top{

    display: flex;

    gap: 14px;

    margin-bottom: 16px;
}

/* FOOD IMAGE */

.food-image{

    width: 58px;

    height: 58px;

    background: #FFF5E9;

    border-radius: 14px;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-shrink: 0;
}

.food-image img{

    width: 34px;
}

/* FOOD DETAIL */

.food-detail h3{

    color: var(--dark-color);

    font-size: 18px;

    font-weight: 700;

    margin-bottom: 4px;
}

.food-detail p{

    color: #A0A0A0;

    font-size: 11px;

    margin-bottom: 8px;
}

.food-detail span{

    color: #FF5B3F;

    font-size: 13px;

    font-weight: 700;
}

/* BUTTON */

.use-btn{

    width: 100%;

    border: none;

    background: var(--orange-color);

    color: var(--white-color);

    padding: 11px;

    border-radius: 10px;

    font-size: 13px;

    font-weight: 700;

    cursor: pointer;
}

